name: Pull Request
on: pull_request

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Compute Impacted Targets Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bazel
        # trunk-ignore(semgrep): Trust third-party `bazel-contrib` GH Action
        uses: bazel-contrib/setup-bazel@0.18.0

      - name: Compute Impacted Targets
        id: compute
        run: ./src/scripts/compute_impacted_targets.sh
        shell: bash
        env:
          MERGE_INSTANCE_BRANCH: do_not_delete/test-branch-021226
          MERGE_INSTANCE_BRANCH_HEAD_SHA: 097c8259c2e18da92f6189849ebc0f7f6dc624e5
          PR_BRANCH: do_not_delete/test-branch-021226
          PR_BRANCH_HEAD_SHA: 097c8259c2e18da92f6189849ebc0f7f6dc624e5
          VERBOSE: 1
          WORKSPACE_PATH: ./tests/bazel8
          BAZEL_STARTUP_OPTIONS: --host_jvm_args=-Xmx12G,--block_for_lock,--client_debug
          BAZEL_PATH: bazel

      - name: Validate Impacted Targets Computation
        shell: bash
        run: |
          target_count=`cat ${{ steps.compute.outputs.impacted_targets_out }} | wc -l`
          if [[ $target_count -ne 0 ]]; then
            exit 1
          fi
