name: Pull Request
on: pull_request

permissions: read-all

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Compute Impacted Targets Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bazel
        # trunk-ignore(semgrep): Trust third-party `bazelbuild` GH Action
        uses: bazel-contrib/setup-bazel@0.15.0

      - name: Compute Impacted Targets
        id: compute
        run: ./src/scripts/compute_impacted_targets.sh
        shell: bash
        env:
          MERGE_INSTANCE_BRANCH: do_not_delete/stable_test_branch
          MERGE_INSTANCE_BRANCH_HEAD_SHA: 18ebc2314fbed8efd25f0861eb485228fca0f148
          PR_BRANCH: do_not_delete/stable_test_branch
          PR_BRANCH_HEAD_SHA: 18ebc2314fbed8efd25f0861eb485228fca0f148
          VERBOSE: 1
          WORKSPACE_PATH: ./tests/bazel7
          BAZEL_STARTUP_OPTIONS: --host_jvm_args=-Xmx12G,--block_for_lock,--client_debug
          BAZEL_PATH: bazel

      - name: Validate Impacted Targets Computation
        shell: bash
        run: |
          target_count=`cat ${{ steps.compute.outputs.impacted_targets_out }} | wc -l`
          echo "Number of impacted targets: $target_count"
          echo "Impacted targets list:"
          if [[ -s ${{ steps.compute.outputs.impacted_targets_out }} ]]; then
            cat ${{ steps.compute.outputs.impacted_targets_out }}
          else
            echo "(empty)"
          fi
          if [[ $target_count -ne 0 ]]; then
            exit 1
          fi
